<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <title>Team - Secure AI Labs</title>
</head>

<body>

{{> nav}}
{{> about-us-text}}
{{> team}}
{{> association}}
{{> newsletter}}
{{> footer}}



<!-- Javascript files-->
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/landy-template-bootstrapious/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery/jquery.cookie.js"></script>
<script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
<script src="/vendor/landy-template-bootstrapious/js/front.js"></script>
</body>

</html>
