<!DOCTYPE html>
<html lang="en">

  <head>
    {{> head}}
    <title>Secure AI Labs</title>
  </head>

  <body>

    {{> nav}}

    <div class="padme">
    <section class="showcase">
      <div class="container-fluid p-2">
        <div class="row no-gutters">
          <div class="col-lg-12 my-auto text-center">
            <img class="img-fluid gigi" src="img/gigi.png">
            <h1>Something went wrong!</h1>
            <h3>Oops... Gigi will get right on that.</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>

</html>
