<!DOCTYPE html>
<html lang="en">

  <head>
    {{> head}}
    <title>Senior Software Architect - Secure AI Labs</title>
  </head>

  <body>


    {{> nav}}
    <div class="pad-team">
    <section class="showcase">
      <div class="container-fluid p-2">
        <div class="row no-gutters">
          <div class="col-lg-12 my-auto text-center">
            <h3>Senior Software Architect</h3>
            <h5>Full Time; Cambridge, MA</h5>
            <br>
              <p class="job-listing-para">Secure AI Labs (SAIL) has built and patented a new secure analytics platform
                  that allows businesses to collaborate with valuable or sensitive datasets while maintaining data
                  ownership and privacy. We combine secure computation technology with a decentralized architecture
                  to increase the accuracy and speed of our analytics. SAIL’s customers are performing highly-sensitive
                  analysis on encrypted dataset, like health records and genomic libraries, ensuring data ownership
                  and privacy without compromising computational speed and accuracy.

              </p>
              <p class="job-listing-para">
                  We have 3 major pilots underway,
                  so this role has high potential with our growing company. The ideal candidate will: help architect
                  our platform for longevity and robustness, help manage our engineering team to implement features
                  and bring fresh eyes to security vulnerabilities and privacy features. Qualified candidates should
                  have at least 4 years of experience managing software development, a strong knowledge of relational
                  databases, C, distributed networks, security and cryptography.
              </p>
            <br>
            <div class="job-listing-para">
              <strong>Skills</strong><br>
                <em>Technical Skills</em>
                <ul>
                  <li>Architected full-stack platforms (hardware integration is a plus!)</li>
                  <li>Seen at least 2 product life cycles from formalized needs, to design and implementation</li>
                  <li>Able to quickly iterate and test stacks for architecture investigation</li>
                  <li>Able to thoroughly anticipate test scenarios for debugging and maintenance</li>
                  <li>Able to smoothly close features/projects for future cycle iterations or new versions</li>
                  <li>Mastery of Linux (with 1-2 years of production-level code)</li>
                </ul>
                <em>Product Skills</em>
                <ul>
                  <li>Able to translate between customer needs and product specifications</li>
                  <li>Experience in DevOps software development and operations</li>
                </ul>
                <em>Management Skills</em>
                <ul>
                  <li>Experience in managing engineering teams between 3-10 engineers</li>
                  <li>Ability to re-scope projects based on engineering feedback</li>
                  <li>Mentor engineers for their best personal and professional growth</li>
                </ul>
            </div>
            <br>
            <div class="job-listing-para">
              <strong>Education</strong>
              <ul>
                <li>B.S. degree in Computer Science or other technical field, or equivalent practical experience</li>
                <li>4+ years of software development experience</li>
                <li>Background in health, biology, chemistry, or pharmaceuticals is a plus</li>
              </ul>
              <em>With deep knowledge in at least 2 of the following:</em>
              <ul>
                <li>Distributed systems; networked systems</li>
                <li>Operating systems; kernel/firmware</li>
                <li>Machine learning systems</li>
                <li>Security and/or applied cryptography</li>
                <li>App/dApp development</li>
              </ul>
            </div>


            <p class="lead mb-0">Apply at <a href="mailto:careers@secureailabs.com">careers@secureailabs.com</a> with the subject line <strong>Senior Software Architect</strong>.</p>
          </div>
        </div>
      </div>
    </section>
    </div>
  {{> footer}}
    <!-- Javascript files-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/vendor/landy-template-bootstrapious/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery/jquery.cookie.js"></script>
    <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="/vendor/landy-template-bootstrapious/js/front.js"></script>
  </body>

</html>
