<!DOCTYPE html>
<html lang="en">

  <head>
    {{> head}}
    <title>Thanks - Secure AI Labs</title>
  </head>

  <body>


{{> nav}}
    <div class="padme">
    <section class="showcase bg-info">
      <div class="container-fluid p-2">
        <div class="row no-gutters">
            <div class="col-lg-2"></div>
          <div class="col-lg-8 my-auto text-center">
            <img class="img-fluid sail-logo-2" src="img/sail-logo.png">
            <h2>Thank You!</h2>
            <h3>We are thrilled that you're interested in Secure AI Labs,
                and we would love to tell you more about the work we do and
                discuss the opportunities it can provide for you.
            </h3>
          </div>
            <div class="col-lg-2"></div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>

</html>
