<!DOCTYPE html>
<html>

<head>
  <title>GeneTank — About</title>
  {{> head}}
  <!-- Page styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/styles_about.css">
</head>

<body>
  {{> nav}}

  <!-- Main section of page -->
  <main role="main">
    <div id="empowering-everyone">
      <div class="banner" id="header-banner">
        <div class="color-overlay"></div>
        <figure class="banner-image" id="top-banner-image-figure">
          <img src="images/dna.jpg" class="top-banner-image" />
        </figure>
        <div class="banner-desc">
          <p class="banner-desc-header">Empowering Everyone</p>
          <p class="banner-desc-info">Everyone has their own unique DNA</p>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <p class="section-header">Founded by MIT researchers in 2017, GeneTank works to empower everyone to create a healthier world with their own
            unique DNA.</p>
          <p class="section-info">We believe that you can contribute to science and make the world a healthier place without having to compromise
            the privacy of your genetic information.</p>
        </div>
      </div>
    </div>
    <div id="our-team">
      <div class="banner">
        <div class="color-overlay"></div>
        <figure class="banner-image">
          <img src="images/workplace.jpg" class="section-banner-image" />
        </figure>
        <div class="banner-desc">
          <p class="banner-desc-header">Our Team</p>
          <p class="banner-desc-info">The best and brightest</p>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="width-spacer">&nbsp;</div>
          <div class="width-spacer">&nbsp;</div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/anne_kim.png" />
            </div>
            <div class="team-text">
              <div class="team-name">Anne Kim</div>
              <div class="team-role">CEO</div>
              <div class="team-description">Master of engineering student <br /> @ MIT CSAIL</div>
            </div>
          </div>
          <div class="width-spacer">&nbsp;</div>
          <div class="width-spacer">&nbsp;</div>
        </div>
        <div class="row">
          <div class="team-member">
            <div class="team-image">
              <img src="images/dianbo_liu.png" />
            </div>
            <div class="team-text">
              <div class="team-name">Dianbo Liu</div>
              <div class="team-role">Co-Founder</div>
              <div class="team-description">PhD student @ MIT CSAIL in <br /> computer science</div>
            </div>
          </div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/lauren_huang.png" />
            </div>
            <div class="team-text">
              <div class="team-name">Lauren Huang</div>
              <div class="team-role">Software Lead</div>
              <div class="team-description">Master of engineering from MIT CSAIL</div>
            </div>
          </div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/manolis_kellis.png" />
            </div>
            <div class="team-text">
              <div class="team-name"><a href="http://web.mit.edu/manoli/" target="blank_">Manolis Kellis</a></div>
              <div class="team-role">Co-Founder</div>
              <div class="team-role">Machine learning, Genomics</div>
              <div class="team-description">Full professor at MIT CSAIL, Institute Member at Broad Institute of MIT and Harvard</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="width-spacer">&nbsp;</div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/shifa_zhang.png" />
            </div>
            <div class="team-text">
              <div class="team-name"><a href="https://www.linkedin.com/in/shifa-zhang-045b51aa/" target="blank_">Shifa Zhang</a></div>
              <div class="team-role">Security Lead</div>
              <div class="team-description">20+ years of experience as a software architect</div>
            </div>
          </div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/person-placeholder.jpg" />
            </div>
            <div class="team-text">
              <div class="team-name">Sandeep C. Nuckchady</div>
              <div class="team-role">Intern</div>
              <div class="team-description">MSc. Information Security @ UCL</div>
            </div>
          </div>
          <div class="width-spacer">&nbsp;</div>
        </div>
        <div class="row">
          <div class="width-spacer">&nbsp;</div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/ariel_chu.jpg" />
            </div>
            <div class="team-text">
              <div class="team-name">Ariel Chu</div>
              <div class="team-role">Designer</div>
              <div class="team-description">B.A. Student @ Georgetown</div>
            </div>
          </div>
          <div class="team-member">
            <div class="team-image">
              <img src="images/larry_tseng.jpg" />
            </div>
            <div class="team-text">
              <div class="team-name">Larry Tseng</div>
              <div class="team-role">Intern</div>
              <div class="team-description">Aspiring computer scientist and student @ Westwood HS</div>
            </div>
          </div>
          <div class="width-spacer">&nbsp;</div>
        </div>
      </div>
    </div>
    <div id="advisors">
      <div class="banner">
        <div class="color-overlay"></div>
      	<figure class="banner-image">
      	  <img src="images/hands.jpg" class="section-banner-image" />
      	</figure>
      	<div class="banner-desc">
      	  <p class="banner-desc-header">Advisors</p>
      	  <p class="banner-desc-info"></p>
      	</div>
      </div>
      <div class="content">
        <div class="row">
          <div class="width-spacer">&nbsp;</div>
          <div class="width-spacer">&nbsp;</div>
      	  <div class="team-member">
      	    <div class="team-image">
      	      <img src="images/thomas_hardjono.jpg" />
      	    </div>
      	    <div class="team-text">
      	      <div class="team-name">Thomas Hardjono</div>
      	      <div class="team-role">Tech Advisor</div>
      	      <div class="team-description">Technical Director at MIT Internet Trust Consortium</div>
      	    </div>
      	  </div>
      	  <div class="width-spacer">&nbsp;</div>
          <div class="width-spacer">&nbsp;</div>
      	</div>
      </div>
    </div>
  </main>

  {{> footer}}

  <script>
    // Highlight current page
    document.getElementById('nav-about').className += 'current-page';
  </script>
</body>

</html>
