<section id="hero" class="hero bg-info">
    <div class="container-fluid hero-home">
        <div class="row">

            <div class="col text">
                <h1 class="fade-in">ACCESS SENSITIVE DATA.</h1>
                <p class="hero-text fade-in-long">
                    Secure data analytics platform<br>with easier data sharing and<br>privacy preservation
                </p>
                <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Contact Us</a>
                <a href="https://forms.gle/8qCfVddiWydgNGQD6" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Request a Pilot</a>
            </div>
            <img class="col banner" src="/img/banner.png">
        </div>
    </div>
</section>
