<section id="associations" class="associations">
    <div class="container">
        <header class="text-center no-margin-bottom">
            <h1>COMMUNITY</h1>
        </header>
        <div class="row">

            <div class="col">
                <div class="quote"><img src="/img/logos/mitmedialab.png" alt="..." class="img-fluid"></div>
                <div>
                    <p>Born from OPAL research in the Human Dynamics Group at the Media Lab, SAIL receives strong
                        support from the Media Lab community.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="quote"><img src="/img/logos/mit-connection-science.png" alt="..." class="img-fluid"></div>
                <div>
                    <p> Built upon principles developed in the <strong>Trust::Data</strong> Consortium,
                        SAIL is building safe distributed networks to enable the use of Trusted Data.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="quote"><img src="/img/logos/stex25_logo.png" alt="..." class="img-fluid"></div>

                <div>
                    <p>STEX25 is a startup accelerator fostering collaboration between MIT-connected startups and
                        MIT ILP member companies.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="quote"><img src="/img/logos/mittrustcenter.png" alt="..." class="img-fluid"></div>
                <div>
                    <p>With support from MIT’s premier accelerator program, delta v, the SAIL team built,
                        patented
                        and commercialized our technology.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="quote"><img src="/img/logos/mitcsail.png" alt="..." class="img-fluid"></div>
                <div>
                    <p>CSAIL Alliances connects startups to companies and organizations looking to adopt new
                        research and emerging technology from MIT.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.collapse-container-association').collapsible({
        accordion: false,
        accordionUpSpeed: 400,
        accordionDownSpeed: 400,
        collapseSpeed: 400,
        contentOpen: null,
        arrowRclass: 'fa-caret-right',
        arrowDclass: 'fa-caret-down',
        animate: true
    });
</script>
