<div class="pad-team">
    <!-- Leadership -->
    <section id="team" class="text-center bg-gray">
        <div class="container">
            <h1>LEADERSHIP</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/ryan_davis.jpg" alt="">
                        <h3>Ryan Davis, M.S</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> Co-Founder &
                                President</h5>
                            <div>
                                <p>
                                    Ryan is a dedicated operator and manager devoting his career to building new
                                    research
                                    infrastructure to make next-generation medical discoveries. The son of a research
                                    neuro-scientist
                                    and uncle of a niece with a genetic disease, Ryan has experienced unanswered
                                    biological questions
                                    from both the researcher and patient perspectives. Ryan builds relations with
                                    lawyers, investors and
                                    customers and was a graduate fellow at MIT.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/anne_kim.jpg" alt="">
                        <h3>Anne Kim, M.S</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> Co-Founder &
                                CTO</h5>
                            <div>
                                <p>
                                    Anne is the face of our technology and spirit of our company.
                                    After her MIT undergrad in CS & Bio she studied with Sandy Pentland in the Media
                                    Lab.
                                    Anne began hacking biology in high school by studying computational protein folding
                                    and then continued at MIT studying how to mediate the sharing and analysis of
                                    clinical
                                    trial data on a massive scale. Anne also organizes industry meetings on privacy and
                                    security
                                    for the EFF, ACLU, and Defcon.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/dianbo_liu.jpg" alt="">
                        <h3>Dianbo Liu, Phd</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> Co-Founder
                            </h5>
                            <div>
                                <p>
                                    Dianbo Liu is a research fellow in Computational Health Informatics Program (CHIP)
                                    at Harvard Medical School and Boston Childrens’s Hospital. His current research
                                    focus is on understanding human health data using machine learning, network analysis
                                    and other tools. Dianbo’s scientific expertise includes medical records, social
                                    network data, human face images, blockchain, and most importantly, philosophy.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/manolis_kellis.jpg" alt="">
                        <h3>Manolis Kellis, Phd</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> Cofounder &
                                Research Director</h5>
                            <div>
                                <p>
                                    Manolis is a dedicated Father, teacher, and researcher devoting his life to
                                    improving
                                    human health through knowledge. He aims to further our understanding of the
                                    human genome
                                    by computational integration of large-scale functional and comparative genomics
                                    datasets.
                                    As Research Director at SAIL, he is taking advantage of emerging technologies
                                    and data types
                                    and inventing new computational models. Manolis earned a BS & PhD in EECS with a
                                    focus on
                                    Computational Biology.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Advisors -->
    <section class="associations text-center bg-light">
        <div class="container">
            <h1 class="mb-5">ADVISORS</h1>
            <div class="row">
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/sandy_pentland.jpg" alt="">
                        <h3>Sandy Pentland</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> Venture Director
                            </h5>
                            <div>
                                <p>
                                    Sandy directs the MIT Connection Science and Human Dynamics labs and is declared by
                                    Forbes to be one of the “7 most powerful data scientists in the world”.
                                    Sandy co-led the World Economic Forum discussion in Davos that led to the EU privacy
                                    regulation GDPR and has received numerous awards and prizes for his work in data
                                    privacy and security. Sandy and his students have pioneered many industries
                                    including computational social science, organizational engineering, wearable
                                    computing (Google Glass), image understanding, and modern biometrics.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/andrew_lo.jpg" alt="">
                        <h3>Andrew Lo</h3>
<!--                        <div class="collapse-container">-->

                            <h5 class="font-weight-light mb-0"> MIT Sloan School
                                of Management</h5>
<!--                            <div>-->
<!--                                <p>-->

<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/thomas_hardjono.jpg" alt="">
                        <h3>Thomas Hardjono</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> MIT Media Lab
                            </h5>
                            <div>
                                <p>
                                    Hardjono is the technical director for the Internet Trust Consortium under MIT
                                    Connection Science. Mr. Hardjono leads technical projects and initiatives around
                                    identity, security and privacy in emerging technologies such as IoT, smart contracts
                                    and blockchain systems, and engages industry partners and sponsors on these fronts.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/srini_devadas.jpg" alt="">
                        <h3>Srini Devadas</h3>
<!--                        <div class="collapse-container">-->
                            <h5 class="font-weight-light mb-0"> MIT CSAIL</h5>
<!--                            <div>-->
<!--                                <p>-->

<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="associations team text-center bg-gray">
        <div class="container">
            <h1 class="mb-5">TEAM</h1>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/aditya_masurkar.jpg" alt="">
                        <h5>Aditya Masurkar</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/jingwei_zhang.jpg" alt="">
                        <h5>Jingwei Zhang</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer/</p>
                        <p class="team-p" style="margin-top: -10px;">Computational Chemist</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/aayush_jain.jpg" alt="">
                        <h5>Aayush Jain</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 offset-sm-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/aayush_srivastava.jpg" alt="">
                        <h5>Aayush Srivastava</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/javesh_monga.jpg" alt="">
                        <h5>Javesh Monga</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
                <div class="col-sm-4 offset-sm-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/lauren_huang.jpg" alt="">
                        <h5>Lauren Huang</h5>
                        <p class="team-p font-weight-light mb-0">Website Consultant</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/matt_wiese.jpg" alt="">
                        <h5>Matt Wiese</h5>
                        <p class="team-p font-weight-light mb-0">Marketing Intern</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/maurice_lubetzki.jpg" alt="">
                        <h5>Maurice Lubetzki</h5>
                        <p class="team-p font-weight-light mb-0">Machine Learning Scientist</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/kevin_yu.jpg" alt="">
                        <h5>Kevin Yu</h5>
                        <p class="team-p font-weight-light mb-0">Product Design Manager</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<script>
    $('.collapse-container').collapsible({
        accordion: false,
        accordionUpSpeed: 400,
        accordionDownSpeed: 400,
        collapseSpeed: 400,
        contentOpen: null,
        arrowRclass: 'fa-caret-right',
        arrowDclass: 'fa-caret-down',
        animate: true
    });
</script>
