<section id="features" class="features bg-gray">
    <div class="container">

        <div class="row d-flex align-items-center">
            <div class="text col-lg-6 order-2 order-lg-1">
                <h4>SECURE AND PRIVATE</h4>
                <p>Our encrypted analytics platform protects data and algorithms at every step,
                    to the cloud and back. Our federated architecture maintains data ownership,
                    allowing you to rent access to your data and algorithms.
                </p>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2"><img src="/img/secure-private.png" alt="..." class="img-fluid"></div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="image col-lg-6"><img src="/img/ai-data-service.png" alt="..." class="img-fluid"></div>
            <div class="text col-lg-6">
                <h4>AI AND DATA SERVICE</h4>
                <p>License industry leading analytics products from federated algorithms
                    to training datasets. Securely produce powerful prediction models and
                    provide for user licensing from our secure library.
                </p>
            </div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="text col-lg-6 order-2 order-lg-1">
                <h4>IP SECURITY AND PRIVACY</h4>
                <p>Keep your IP and secrets private by controlling how your data and algorithms
                    are used by customers and partners. Enforce data security to safely license
                    data and algorithms without compromising ownership or intellectual property.
                </p>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2"><img src="/img/audit-analyze.png" alt="..." class="img-fluid"></div>
        </div>

    </div>
</section>
