<!-- Footer -->
<div id="prefooter">
  <div class="prefooter-content">
    <nav>
      <a href="#" class="social-icon"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" height="32px" /></a>
      <a href="#" class="social-icon"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" height="32px" /></a>
      <a href="#" class="social-icon"><img src="https://maxcdn.icons8.com/Share/icon/Logos//medium_logo1600.png" height="32px" /></a>
    </nav>
  </div>
</div>
<footer id="footer" role="contentinfo">
  <div class="footer-content">
    &copy; 2017 GeneTank
  </div>
</footer>