
.ide_button {
  background: whitesmoke;
}

.ide_button:hover {
  background: #a5a5a5;
} 

.react-codemirror2 {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
  width: 100%;
  background:whitesmoke;
}

.CodeMirror {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

