/* General styles */
html {
  background-color: #050000;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: #fff;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Navbar styles */
#header {
  position: absolute;
  padding: 0 20px;
  z-index: 1000;
  top: 0;
  left: 0;
  line-height: 1em;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.header-content {
  padding: 20px 0;
  margin: auto;
  display: table;
  width: 100%;
  -webkit-animation: header-anim 1s ease-in-out;
  animation: header-anim 1s ease-in-out;
}

#site-title, #site-title a {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
  position: relative;
  margin: 0;
  width: 220px;
  display: table-cell;
  vertical-align: middle;
}

#nav {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

#nav a, #site-title a {
  font-family: 'europa', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

#nav a {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  display: block;
  padding: 0.75em 1em;
  -webkit-transition: color 0.1s 0s ease-in-out;
  transition: color 0.1s 0s ease-in-out;
}

#nav a:hover {
  color: #9c9999;
}

nav div {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.current-page {
  color: #9c9999 !important;
}

.nav-button {
  border: 2px solid #fff;
  padding: 1em 1.5em !important;
  line-height: 1em;
  margin-left: 1em;
  -webkit-transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out !important;
  transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out !important;
}

.nav-button:hover {
  color: #181818 !important;
  background-color: #fff;
  -webkit-transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out !important;
  transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out !important;
}

/* Banner styles */
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 130px 0;
  background-color: #201a16;
}

.banner-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-animation: feature-bg-anim .6s ease-in-out;
  animation: feature-bg-anim .6s ease-in-out;
}

.banner-desc {
  z-index: 100;
  position: relative;
  width: 100%;
  max-width: 956px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  color: #9c9999;
  text-rendering: optimizeLegibility;
  -webkit-animation: feature-text-anim .6s ease-in-out;
  animation: feature-text-anim .6s ease-in-out;
}

.banner-desc p {
  font-family: 'europa', sans-serif;
  margin: 20px auto;
  line-height: 1.3em;
}

.banner-desc-header {
  font-size: 86px;
  font-weight: 400;
  color: #fff;
}

.banner-desc-info {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
}

.banner-desc-info a {
  font-size: 16px;
  color: #9c9999;
  font-weight: 400;
  display: inline-block;
  line-height: 1em;
  margin: 10px 5px;
  -webkit-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  -moz-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  -ms-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  -o-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
}

.banner-desc-info a:hover {
  color: #1c1c1c;
  background-color: #9c9999;
  -webkit-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  -moz-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  -ms-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  -o-transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
  transition: background-color .3s 0s ease-in-out,color .3s 0s ease-in-out;
}

.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(32,26,22,.7);
  z-index: 99;
}

/* Special banner styles */
#header-banner {
  padding: 180px 0 155px;
}

.top-banner-image, .section-banner-image {
  position: relative;
}


/* Section styles */
.content {
  max-width: 1020px;
  margin: 0 auto;
  padding: 96px 32px;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.section-header {
  font-family: 'europa', sans-serif;
  font-size: 42px;
  line-height: 1.2em;
  font-weight: 300;
  color: #1c1c1c;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.section-header-info {
  margin-bottom: 40px;
}

.section-info {
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
}


/* Form styles */
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 800;
}

.label-block {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.input-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.field {
  padding: 12px;
}

.input-label-inline {
  font-size: 24px;
  display: table-cell;
}

.input-remaining {
  display: table-cell;
  width: 100%;
}


/* Block styles */

/* Spacers */
.short-spacer {
  height: 10px;
  box-sizing: border-box;
}

.medium-spacer {
  height: 30px;
  box-sizing: border-box;
}

.tall-spacer {
  height: 90px;
  box-sizing: border-box;
}

.width-spacer {
  width: 16.6667%;
  float: left;
  box-sizing: border-box;
}

/* Buttons */
.button {
  font-family: 'europa', sans-serif;
  text-transform: uppercase;
  padding: 1em 1.75em;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.gray-rounded-corner-button {
  letter-spacing: 2px;
  border: 2px solid #9c9999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.black-button {
  color: #fff;
  background-color: #1f1f1f;
  letter-spacing: 2px;
}

.black-button:hover {
  background-color: #4c4c4c;
}

.black-rounded-corner-button {
  border: 2px solid #000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  background-color: #fff;
  letter-spacing: 2px;
  -webkit-transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out;
  transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out;
}

.black-rounded-corner-button:hover {
  color: #fff;
  background-color: #000;
  -webkit-transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out;
  transition: color 0.2s 0s ease-in-out,background-color 0.2s 0s ease-in-out;
}

/* Custom file uploads */
.custom-file-upload {
  font-size: 13.3333px;
  font-weight: 400;
  cursor: pointer;
}

/* Alerts */
.alert {
  text-align: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

/* Steps */
.step {
  float: left; /* TODO switch to none when window is small? */
  width: 33.3333%;
}

.step-image {
  padding: 17px;
}

.step-text {
  padding: 17px;
  text-align: center;
}

.step-header {
  font-family: 'europa', sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.step-info {
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* Section navs */
.folder-nav-container {
  padding-right: 64px;
  width: 255px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-family: 'europa', sans-serif;
  font-style: normal;
}

.folder-nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder-nav-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.folder-nav-link a {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: rgba(31, 31, 31, 0.4);
  line-height: 1.25em;
  display: block;
  padding: 0 0 0.75em;
}

.folder-nav-link a {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: rgba(31, 31, 31, 0.4);
  line-height: 1.25em;
  display: block;
  padding: 0 0 0.75em;
}

.folder-nav li.active-nav-link a {
  color: #1f1f1f;
}

.folder-section-content {
  width: calc(100% - 265px);
  display: inline-block;
  vertical-align: top;
}

.folder-section-content img {
  width: 100%;
  padding: 17px;
}


/* Prefooter styles */
#prefooter {
  color: #1f1f1f;
  background-color: #f0f0f0;
  letter-spacing: 0.5px;
}

.prefooter-content {
  text-align: center;
  padding: 32px;
  width: auto;
  max-width: 1020px;
  margin: auto;
}

.social-icon {
  margin: 5px;
}


/* Footer styles */
#footer {
  color: rgba(255,255,255,.4);
  background-color: #050000;
  letter-spacing: 0.5px;
}

.footer-content {
  text-align: center;
  padding: 64px 32px;
  width: auto;
  max-width: 1020px;
  margin: auto;
}


/* Grid layout styles */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.half {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after, .row:after {
  clear: both;
}


/* Card styles */
.card {
  border: 1px solid #ddd;
  margin: 15px 0;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.card-header {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}

.card-list ul {
  padding-left: 0;
}

.card-list-item {
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.card-list-last-item {
  border-bottom: none;
}

.card-list-link {
  color: black;
}

.card-list-link:hover {
  color: #444;
}

.card-icon {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 auto;
}

.card-icon-spacer {
  width: 100%;
  height: 36px;
}

.card-icon img {
  height: 128px;
}

.card-title {
  text-align: center;
  font-family: 'europa', sans-serif;
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-gene {
  background: url('/images/cards/chromosome.png') no-repeat;
  height: 40px;
  margin-top: 20px;
}

@media (max-width: 996px) {
  .card-gene {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-gene-text {
  text-align: center;
  margin-top: 40px;
}

.card-share {
  text-align: center;
  margin-top: 40px;
}

.card-share-links {
  margin-top: 10px;
}


/* Color styles */
.text-white {
  color: #fff !important;
}

.text-blue {
  color: #0275d8 !important;
}

.text-green {
  color: #5cb85c !important;
}

.text-lightblue {
  color: #5bc0de !important;
}

.text-orange {
  color: #f0ad4e !important;
}

.text-red {
  color: #d9534f !important;
}

.text-aqua {
  color: #00bfbf !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-white {
  background-color: #fff !important;
}

.bg-blue {
  background-color: #0275d8 !important;
}

.bg-orange {
  background-color: #f0ad4e !important;
}

.bg-gray {
  background-color: #eee !important;
}