#survey-container {
  padding: 0 20px;
}

#question {
  font-size: 20px;
}

.answers {
	list-style-type: none;
  -webkit-padding-start: 20px;
}

input[type=radio] {
  cursor: pointer;
}

label {
  cursor: pointer;
}