<section id="features" class="features bg-gray">
    <div class="container">

        <div class="row text-center">
            <div class="text col-lg-12">
                <h4>Try a 1-week demo of our platform</h4>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="text col-lg-6 order-2 order-lg-1">
                <h4>SECURE</h4>
                <p>Constrain, approve, and audit analysis on data through smart contracts</p>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 mb-3"><img src="/img/edit.png" alt="..." class="img-fluid"></div>
        </div>

        <div class="row align-items-center">
            <div class="image col-lg-6 mb-3"><img src="/img/run.png" alt="..." class="img-fluid"></div>
            <div class="text col-lg-6">
                <h4>POWERFUL</h4>
                <p>Run custom analysis or train AI without transferring the data</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="text col-lg-6 order-2 order-lg-1">
                <h4>INTUITIVE</h4>
                <p>Browse through a selection of insightful data for your analysis</p>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 mb-3"><img src="/img/img2.png" alt="..." class="img-fluid"></div>
        </div>

    </div>
</section>
