<section id="pricing-plans" class="pricing-plans bg-gray">
    <div class="container">

        <div class="row d-flex text-center">
            <div class="text col-lg-12">
                <h4>Ready to try it out?</h4>
            </div>
        </div>

        <div class="row d-flex text-center">
            <div class="pricing-plan-container">
                <div class="text col-lg-12 pricing-plan">
                    <h1>$100</h1>
                    <p>gets you a 1-week demo of our full product:</p>
                    <div class="text-left mb-3">
                        <ul class="pricing-plan-list">
                            <li>Easy, intuitive Jupyter notebook interface</li>
                            <li>Powerful analysis without ever moving the data</li>
                            <li>Configurable data access auditing</li>
                        </ul>
                    </div>
                    <form action="/demo/pay" method="POST">
                      <button type="submit" class="btn btn-primary navbar-btn btn-shadow btn-gradient mt-2 mb-2">Let's Go</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
