<footer class="main-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="/" class="brand">Secure AI Labs</a>
                <ul class="contact-info list-unstyled">
                    <li><a href="mailto:contact@secureailabs.com">contact@secureailabs.com</a></li>
                    <li>1 Broadway</li>
                    <li>Cambridge, MA 02142</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
            </div>
            <div class="col-lg-3 col-md-6">
            </div>
            <div class="col-lg-3 col-md-6">
                <ul class="links list-unstyled">
                    <li> <a href="/">Product</a></li>
                    <li> <a href="/about-us">About Us</a></li>
                    <li> <a href="/join-us">Careers</a></li>
                    <!--                    <li> <a href="https://blog.secureailabs.com">Blog</a></li>-->
                </ul>
            </div>
        </div>
        <div class="social">
            <a href="https://twitter.com/secureailabs" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/company/secureailabs/about/" class="fa fa-linkedin"></a>
            <a href="https://angel.co/company/secure-ai-labs/jobs" class="fa fa-angellist"></a>
<!--                <a class="fa fa-medium"></a>-->
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p>&copy; 2020 secureailabs.com. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
