<section id="horizontals" class="horizontals bg-primary">
    <div class="container text-center">
        <header>
            <h1>APPLICATIONS</h1>
        </header>
        <div class="grid row">
            <div class="item col-lg-6 col-md-6">
                <img class="icon" src="/img/genomics-icon.png">
                <h3 class="h5">GENOMICS</h3>
                <p class="visibility-web">The first commercially integrated anonymization and security solution for genomic </p>
                <p class="visibility-web">data. Protect your genomic assets while  </p>
                    <p class="visibility-web">unlocking their potential.</p>
                <p class="visibility-phone">
                    The first commercially integrated anonymization and security solution for genomic data. Protect your genomic assets while
                    unlocking their potential.
                </p>
            </div>
            <div class="item col-lg-6 col-md-6">
                <img class="icon" src="/img/images-icon.png">
                <h3 class="h5">IMAGES</h3>
                <p class="visibility-web">Protect your valuable tags and detailed </p>
                    <p class="visibility-web"> metadata. License training images  </p>
                    <p class="visibility-web">without compromising ownership.</p>
                <p class="visibility-phone">
                    Protect your valuable tags and detailed metadata. License training images
                    without compromising ownership.
                </p>
            </div>
            <div class="item col-lg-6 col-md-6">
                <img class="icon" src="/img/digital-health-icon.png">
                <h3 class="h5">DIGITAL HEALTH</h3>
                <p class="visibility-web">From disease diagnostics to mobile health</p>
                <p class="visibility-web"> predictions, we protect data and algorithms</p>
                    <p class="visibility-web">in all environments.</p>

                <p class="visibility-phone">
                    From disease diagnostics to mobile health predictions, we protect data and algorithms
                    in all environments.
                </p>
            </div>


            <div class="item col-lg-6 col-md-6">
                <img class="icon" src="/img/enterprise-icon.png">
                <h3 class="h5">ENTERPRISE</h3>
                <p class="visibility-web">Contact us to build your privacy-preserving</p>
                <p class="visibility-web">  analytics and keep your digital assets </p>
                   <p class="visibility-web"> protected and secure.</p>
                <p class="visibility-phone">
                    Contact us to build your privacy-preserving analytics and keep your digital assets protected and secure.
                </p>
            </div>

            <div class="item col-lg-12 col-md-12">
                <img class="icon" src="/img/drug-discovery-icon.png">
                <h3 class="h5">CHEMINFOMATICS</h3>
                <p class="visibility-web">Protect sensitive molecular data while enabling</p>
                <p class="visibility-web">  collaboration between drug discovery teams </p>
                <p class="visibility-web"> in industry and academia.</p>
                <p class="visibility-phone">
                    Protect sensitive molecular data while enabling collaboration between drug discovery teams in industry and academia.
                </p>
            </div>

        </div>
    </div>
</section>
