<section id="browser" class="browser">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class=" mb-5">DEVELOPED FOR DATA SCIENTISTS</h1>
                <div class="browser-mockup">
                    <div id="nav-tabContent" class="tab-content">
                        <div id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab" class="tab-pane fade show active"><img src="/img/img2.png" class="img-browser img-fluid"></div>
                        <div id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab" class="tab-pane fade"><img src="/img/edit.png" class="img-browser img-fluid"></div>
                        <div id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab" class="tab-pane fade"><img src="/img/run.png" class="img-browser img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myTab" role="tablist" class="nav nav-tabs">
            <div class="row">
                <div class="col-md-4"><a id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-expanded="true" class="nav-item nav-link active"> <span class="number">1</span>Browse through a selection of insightful data for your analysis</a></div>
                <div class="col-md-4"><a id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" class="nav-item nav-link"> <span class="number">2</span>Constrain, approve, and audit analysis on data through smart contracts</a></div>
                <div class="col-md-4"><a id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" class="nav-item nav-link"> <span class="number">3</span>Run custom analysis or train AI without transferring the data</a></div>
            </div>
        </div>
    </div>
</section>
