<div class="pad-team">
    <!-- Team -->
    <section class="associations team text-center bg-gray">
        <div class="container">
            <h1 class="mb-5">TEAM</h1>
            <div class="row mb-3">
                <div class="col-sm-2">
                </div>
                 <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/anne_kim.jpg" alt="">
                        <h5>Anne Kim</h5>
                        <p class="team-p font-weight-light mb-0">CEO & Cofounder</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/manolis_kellis.jpg" alt="">
                        <h5>Manolis Kellis</h5>
                        <p class="team-p font-weight-light mb-0">Cofounder</p>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/sail-favicon.png" alt="">
                        <h5>Jingwei Zhang</h5>
                        <p class="team-p font-weight-light mb-0">Engineering</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/sail-favicon.png" alt="">
                        <h5>Frank O.</h5>
                        <p class="team-p font-weight-light mb-0">Product</p>
                    </div>
                </div>
                <div class="col-sm-4 offset-sm-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/sail-favicon.png" alt="">
                        <h5>Kenny Li</h5>
                        <p class="team-p font-weight-light mb-0">Business Development</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/sail-favicon.png" alt="">
                        <h5>Fumi M.</h5>
                        <p class="team-p font-weight-light mb-0">Product & Technology</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/sail-favicon.png" alt="">
                        <h5>Shabana Baig</h5>
                        <p class="team-p font-weight-light mb-0">Engineering</p>
                    </div>
                </div>
                <div class="col-sm-4 offset-sm-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/sail-favicon.png" alt="">
                        <h5>Prawal Gangwar</h5>
                        <p class="team-p font-weight-light mb-0">Engineering</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Advisors -->
    <section class="associations text-center bg-light">
        <div class="container">
            <h1 class="mb-5">ADVISORS</h1>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/sandy_pentland.jpg" alt="">
                        <h3>Sandy Pentland</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> Venture Director
                            </h5>
                            <div>
                                <p>
                                    Sandy directs the MIT Connection Science and Human Dynamics labs and is declared by
                                    Forbes to be one of the “7 most powerful data scientists in the world”.
                                    Sandy co-led the World Economic Forum discussion in Davos that led to the EU privacy
                                    regulation GDPR and has received numerous awards and prizes for his work in data
                                    privacy and security. Sandy and his students have pioneered many industries
                                    including computational social science, organizational engineering, wearable
                                    computing (Google Glass), image understanding, and modern biometrics.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/thomas_hardjono.jpg" alt="">
                        <h3>Thomas Hardjono</h3>
                        <div class="collapse-container">
                            <h5 class="font-weight-light mb-0"><span class="fa fa-caret-right"></span> MIT Media Lab
                            </h5>
                            <div>
                                <p>
                                    Hardjono is the technical director for the Internet Trust Consortium under MIT
                                    Connection Science. Mr. Hardjono leads technical projects and initiatives around
                                    identity, security and privacy in emerging technologies such as IoT, smart contracts
                                    and blockchain systems, and engages industry partners and sponsors on these fronts.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/srini_devadas.jpg" alt="">
                        <h3>Srini Devadas</h3>
<!--                        <div class="collapse-container">-->
                            <h5 class="font-weight-light mb-0"> MIT CSAIL</h5>
<!--                            <div>-->
<!--                                <p>-->

<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $('.collapse-container').collapsible({
        accordion: false,
        accordionUpSpeed: 400,
        accordionDownSpeed: 400,
        collapseSpeed: 400,
        contentOpen: null,
        arrowRclass: 'fa-caret-right',
        arrowDclass: 'fa-caret-down',
        animate: true
    });
</script>
