<section id="features" class="features bg-gray">
    <div class="container">

        <div class="row d-flex align-items-center">
            <div class="text col-lg-6 order-2 order-lg-1">
                <h4>FEDERATED LEARNING</h4>
                <p>Access sensitive data without tedious and dangerous data transfer
                </p>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 mb-3"><img src="/img/secure-private.png" alt="..." class="img-fluid"></div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="image col-lg-6 mb-3"><img src="/img/ai-data-service.png" alt="..." class="img-fluid"></div>
            <div class="text col-lg-6">
                <h4>FAMILIAR TOOLS AND RESULTS</h4>
                <p>Use familiar tools and languages to generate valuable insights and training
                </p>
            </div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="text col-lg-6 order-2 order-lg-1">
                <h4>SAFE AND CONTROLLED</h4>
                <p>Prevent IP theft through encrypted algorithms run on a secure enclave
                </p>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 mb-3"><img src="/img/audit-analyze.png" alt="..." class="img-fluid"></div>
        </div>

    </div>
</section>
