<!DOCTYPE html>
<html lang="en">

  <head>
    {{> head}}
    <title>Secure AI Labs</title>
  </head>

  <body>

    {{> nav}}

    <div class="padme bg-info">
    <section class="showcase bg-info">
      <div class="container-fluid p-2">
        <div class="row no-gutters">
          <div class="col-lg-12 my-auto text-center">
            <h1>404!</h1>
<!--            <img class="img-fluid gigi" src="img/gigi.png">-->
            <h3>Oops... Something does not look right. Please check the URL.</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>

</html>
