    <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
         style="display: none;">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="exampleModalLabel" class="modal-title">CONTACT US</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form action="https://formspree.io/contact@secureailabs.com" method="post">
                        <div class="form-group">
                            <input class="input" type="text" name="Name" placeholder="Your Name">
                            <input class="input" type="email" name="Email" id="email" placeholder="Your Email Address">
                            <div class="form-inline">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Your Interests?</label>
                                    </div>
                                    <div class="col-4">
                                        <label class="checkbox-inline "><input class="checkbox" type="checkbox" value=""
                                                                               name="Interested in Our Demos: Yes">Demos</label>
                                        <label class="checkbox-inline"><input class="checkbox" type="checkbox" value=""
                                                                              name="Interested in Investing: Yes">Investing</label>
                                    </div>
                                    <div class="col-4">

                                        <label class="checkbox-inline"><input class="checkbox" type="checkbox" value=""
                                                                              name="Interested in Our Careers: Yes">Careers</label>
                                        <label class="checkbox-inline"><input class="checkbox" type="checkbox" value=""
                                                                              name="Interested In Other: Yes">Other</label>
                                    </div>
                                </div>
                            </div>
                            <input class="input" type="text" name="Subject" placeholder="Subject/Topic">
                            <textarea name="Message" placeholder="Enter Your Message Here"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-gradient submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
