<section id="newsletter" class="newsletter bg-light">
    <div class="container text-center">
        <h3>Subscribe to our Newsletter</h3>
        <br>
        <form action="http://eepurl.com/dKR1o6" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <button type="submit" class="btn btn-primary btn-lg btn-gradient submit">Subscribe</button>
        </form>
    </div>
</section>
