<div class="pad-team">
    <!-- Leadership -->
    <section id="team" class="text-center bg-gray">
        <div class="container-fluid padme">
            <h1>LEADERSHIP</h1>
            <div class="row">
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/ryan_davis.jpg" alt="">
                        <h3>Ryan Davis</h3>
                        <h5 class="font-weight-light mb-0">CEO</h5>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/anne_kim.jpg" alt="">
                        <h3>Anne Kim</h3>
                        <h5 class="font-weight-light mb-0">CTO</h5>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/dianbo_liu.jpg" alt="">
                        <h3>Dianbo Liu, PhD</h3>
                        <h5 class="font-weight-light mb-0">Cofounder</h5>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/manolis_kellis.jpg" alt="">
                        <h3>Manolis Kellis</h3>
                        <h5 class="font-weight-light mb-0">MIT CSAIL</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Advisors -->
    <section class="associations text-center bg-light">
        <div class="container-fluid padme">
            <h1 class="mb-5">ADVISORS</h1>
            <div class="row" style="display: flex; align-items: center; justify-content: center; overflow: hidden">
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/sandy_pentland.jpg" alt="">
                        <h5>Alex "Sandy" Pentland</h5>
                        <p class="font-weight-light mb-0">MIT Media Lab</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/andrew_lo.jpg" alt="">
                        <h5>Andrew Lo</h5>
                        <p class="font-weight-light mb-0">MIT Sloan School of Management</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/thomas_hardjono.jpg" alt="">
                        <h5>Thomas Hardjono</h5>
                        <p class="font-weight-light mb-0">MIT Media Lab</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-smol rounded-circle mb-3" src="img/team/srini_devadas.jpg" alt="">
                        <h5>Srini Devadas</h5>
                        <p class="font-weight-light mb-0">MIT CSAIL</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="associations text-center bg-gray">
        <div class="container">
            <h1 class="mb-5">TEAM</h1>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/aditya_masurkar.jpg" alt="">
                        <h5>Aditya Masurkar</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/jingwei_zhang.jpg" alt="">
                        <h5>Jingwei Zhang</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer/</p>
                        <p class="team-p" style="margin-top: -10px;">Computational Chemist</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/aayush_jain.jpg" alt="">
                        <h5>Aayush Jain</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 offset-sm-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/aayush_srivastava.jpg" alt="">
                        <h5>Aayush Srivastava</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/javesh_monga.jpg" alt="">
                        <h5>Javesh Monga</h5>
                        <p class="team-p font-weight-light mb-0">Software Engineer</p>
                    </div>
                </div>
                <div class="col-sm-4 offset-sm-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/lauren_huang.jpg" alt="">
                        <h5>Lauren Huang</h5>
                        <p class="team-p font-weight-light mb-0">Website Consultant</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/matt_wiese.jpg" alt="">
                        <h5>Matt Wiese</h5>
                        <p class="team-p font-weight-light mb-0">Marketing Intern</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/maurice_lubetzki.jpg" alt="">
                        <h5>Maurice Lubetzki</h5>
                        <p class="team-p font-weight-light mb-0">Machine Learning Scientist</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-team rounded-circle mb-3" src="img/team/kevin_yu.jpg" alt="">
                        <h5>Kevin Yu</h5>
                        <p class="team-p font-weight-light mb-0">Product Design Manager</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
