<!DOCTYPE html>
<html>
  <head>
    <title>GeneTank — About</title>
    {{> head}}
    <!-- Page styles -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_report.css">
  </head>
  <body>
    {{> nav}}
    
    <!-- Main section of page -->
    <main role="main">
      <div id="empowering-everyone">
        <div class="banner" id="header-banner">
          <div class="color-overlay"></div>
          <figure class="banner-image" id="top-banner-image-figure">
            <img src="images/dna.jpg" class="top-banner-image" />
          </figure>
          <div class="banner-desc">
            <p class="banner-desc-header">Your Genetic Report</p>
            <p class="banner-desc-info">Here's what you can learn from your DNA</p>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-sm-4">
              <div class="text-blue card">
                <div class="card-icon bg-gray">
                  <div class="card-icon-spacer"></div>
                  <img src="/images/cards/martini.png">
                </div>
                <div class="card-title">Bottoms Up!</div>
                <div class="card-text">Your alcohol metabolism ability is high. You are less likely to get drunk!</div>
                <div class="card-gene-text">Gene ALDH2: Variant ALDH2*1</div>
                <div class="card-gene" style="background-position: 0"></div>
                <div class="card-share">
                  Share this with friends and family!
                  <div class="card-share-links">
                    <a href="#" class="social-icon"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://maxcdn.icons8.com/Share/icon/Logos//medium_logo1600.png" height="24px"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-white card card-inverse bg-blue">
                <div class="card-icon bg-white">
                  <div class="card-icon-spacer"></div>
                  <img src="/images/cards/martini.png">
                </div>
                <div class="card-title">Bottoms Up!</div>
                <div class="card-text">Your alcohol metabolism ability is high. You are less likely to get drunk!</div>
                <div class="card-gene-text">Gene ALDH2: Variant ALDH2*1</div>
                <div class="card-gene" style="background-position: -20px"></div>
                <div class="card-share">
                  Share this with friends and family!
                  <div class="card-share-links">
                    <a href="#" class="social-icon"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://maxcdn.icons8.com/Share/icon/Logos//medium_logo1600.png" height="24px"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-orange card">
                <div class="card-icon bg-gray">
                  <div class="card-icon-spacer"></div>
                  <img src="/images/cards/coffee.png">
                </div>
                <div class="card-title">More Coffee!</div>
                <div class="card-text">You are likely to consume more caffeine than average throughout the day.</div>
                <div class="card-gene-text">Gene CYP1A2 and AHR</div>
                <div class="card-gene" style="background-position: 0"></div>
                <div class="card-share">
                  Share this with friends and family!
                  <div class="card-share-links">
                    <a href="#" class="social-icon"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://maxcdn.icons8.com/Share/icon/Logos//medium_logo1600.png" height="24px"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-white card card-inverse bg-orange">
                <div class="card-icon bg-white">
                  <div class="card-icon-spacer"></div>
                  <img src="/images/cards/coffee.png">
                </div>
                <div class="card-title">More Coffee!</div>
                <div class="card-text">You are likely to consume more caffeine than average throughout the day.</div>
                <div class="card-gene-text">Gene CYP1A2 and AHR</div>
                <div class="card-gene" style="background-position: -20px"></div>
                <div class="card-share">
                  Share this with friends and family!
                  <div class="card-share-links">
                    <a href="#" class="social-icon"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" height="24px"></a>
                    <a href="#" class="social-icon"><img src="https://maxcdn.icons8.com/Share/icon/Logos//medium_logo1600.png" height="24px"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {{> footer}}

    <script>
      // Highlight current page
      // document.getElementById('nav-report').className += 'current-page';
    </script>
  </body>
</html>
